/*Make the Etch-a-sketch work*/

.container{
    display:flex;
    justify-content: center;
  
}

.gridContainer{
    display:grid;
    width: 500px;
    height: 500px;
    grid-gap: 1px;
    background-color:white;
}

.grayBackground {
    background-color: rgb(177, 177, 177);  
}

.grid{
    background: white;
}

#blackBackground{
    background-color:black;
}

#redBackground{
    background-color:red;
}

#orangeBackground{
    background-color:orange;
}

#yellowBackground{
    background-color:yellow;
}

#greenBackground{
    background-color:green;
}

#blueBackground{
    background-color:blue;
}

#purpleBackground{
    background-color:purple;
}

#whiteBackground{
    background-color:white;
}

/*Style the page*/

*{
    font-family: 'Rubik', sans-serif;
    box-sizing:border-box;
}

body{
    background-color: #369683;
}


h1{
    color:#EDF5E1;
    text-align:center;
}

/* color palette:
#05386B - dark blue
#369683 - dark green
#5CDB95 - bright green
#8EE4AF - light green
#EDF5E1 - off white

